In [2]:
import pandas as pd

tit = pd.read_csv("titanic-passengers.csv", delimiter = ";")

In [3]:
print(tit.head(20))

    PassengerId Survived  Pclass  \
0           343       No       2
1            76       No       3
2           641       No       3
3           568       No       3
4           672       No       1
5           105       No       3
6           576       No       3
7           382      Yes       3
8           228       No       3
9           433      Yes       2
10          135       No       2
11          294       No       3
12          755      Yes       2
13          595       No       2
14          127       No       3
15          434       No       3
16          378       No       1
17          533       No       3
18          666       No       2
19          225      Yes       1

                                                 Name     Sex   Age  SibSp  \
0                          Collander, Mr. Erik Gustaf    male  28.0      0
1                             Moen, Mr. Sigurd Hansen    male  25.0      0
2                              Jensen, Mr. Hans Peder    male  20.0      0
3         Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0
4                              Davidson, Mr. Thornton    male  31.0      1
5                      Gustafsson, Mr. Anders Vilhelm    male  37.0      2
6                                Patchett, Mr. George    male  19.0      0
7                         Nakid, Miss. Maria ("Mary")  female   1.0      0
8                     Lovell, Mr. John Hall ("Henry")    male  20.5      0
9   Louch, Mrs. Charles Alexander (Alice Adelaide ...  female  42.0      1
10                     Sobey, Mr. Samuel James Hayden    male  25.0      0
11                                Haas, Miss. Aloisia  female  24.0      0
12                   Herman, Mrs. Samuel (Jane Laver)  female  48.0      1
13                            Chapman, Mr. John Henry    male  37.0      1
14                                McMahon, Mr. Martin    male   NaN      0
15                         Kallio, Mr. Nikolai Erland    male  17.0      0
16                          Widener, Mr. Harry Elkins    male  27.0      0
17                               Elias, Mr. Joseph Jr    male  17.0      1
18                                 Hickman, Mr. Lewis    male  32.0      2
19                       Hoyt, Mr. Frederick Maxfield    male  38.0      1

    Parch             Ticket      Fare  Cabin Embarked
0       0             248740   13.0000    NaN        S
1       0             348123    7.6500  F G73        S
2       0             350050    7.8542    NaN        S
3       4             349909   21.0750    NaN        S
4       0         F.C. 12750   52.0000    B71        S
5       0            3101276    7.9250    NaN        S
6       0             358585   14.5000    NaN        S
7       2               2653   15.7417    NaN        C
8       0          A/5 21173    7.2500    NaN        S
9       0         SC/AH 3085   26.0000    NaN        S
10      0         C.A. 29178   13.0000    NaN        S
11      0             349236    8.8500    NaN        S
12      2             220845   65.0000    NaN        S
13      0        SC/AH 29037   26.0000    NaN        S
14      0             370372    7.7500    NaN        Q
15      0  STON/O 2. 3101274    7.1250    NaN        S
16      2             113503  211.5000    C82        C
17      1               2690    7.2292    NaN        C
18      0       S.O.C. 14879   73.5000    NaN        S
19      0              19943   90.0000    C93        S

In [4]:
print(tit.head(20))

    PassengerId Survived  Pclass  \
0           343       No       2
1            76       No       3
2           641       No       3
3           568       No       3
4           672       No       1
5           105       No       3
6           576       No       3
7           382      Yes       3
8           228       No       3
9           433      Yes       2
10          135       No       2
11          294       No       3
12          755      Yes       2
13          595       No       2
14          127       No       3
15          434       No       3
16          378       No       1
17          533       No       3
18          666       No       2
19          225      Yes       1

                                                 Name     Sex   Age  SibSp  \
0                          Collander, Mr. Erik Gustaf    male  28.0      0
1                             Moen, Mr. Sigurd Hansen    male  25.0      0
2                              Jensen, Mr. Hans Peder    male  20.0      0
3         Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0
4                              Davidson, Mr. Thornton    male  31.0      1
5                      Gustafsson, Mr. Anders Vilhelm    male  37.0      2
6                                Patchett, Mr. George    male  19.0      0
7                         Nakid, Miss. Maria ("Mary")  female   1.0      0
8                     Lovell, Mr. John Hall ("Henry")    male  20.5      0
9   Louch, Mrs. Charles Alexander (Alice Adelaide ...  female  42.0      1
10                     Sobey, Mr. Samuel James Hayden    male  25.0      0
11                                Haas, Miss. Aloisia  female  24.0      0
12                   Herman, Mrs. Samuel (Jane Laver)  female  48.0      1
13                            Chapman, Mr. John Henry    male  37.0      1
14                                McMahon, Mr. Martin    male   NaN      0
15                         Kallio, Mr. Nikolai Erland    male  17.0      0
16                          Widener, Mr. Harry Elkins    male  27.0      0
17                               Elias, Mr. Joseph Jr    male  17.0      1
18                                 Hickman, Mr. Lewis    male  32.0      2
19                       Hoyt, Mr. Frederick Maxfield    male  38.0      1

    Parch             Ticket      Fare  Cabin Embarked
0       0             248740   13.0000    NaN        S
1       0             348123    7.6500  F G73        S
2       0             350050    7.8542    NaN        S
3       4             349909   21.0750    NaN        S
4       0         F.C. 12750   52.0000    B71        S
5       0            3101276    7.9250    NaN        S
6       0             358585   14.5000    NaN        S
7       2               2653   15.7417    NaN        C
8       0          A/5 21173    7.2500    NaN        S
9       0         SC/AH 3085   26.0000    NaN        S
10      0         C.A. 29178   13.0000    NaN        S
11      0             349236    8.8500    NaN        S
12      2             220845   65.0000    NaN        S
13      0        SC/AH 29037   26.0000    NaN        S
14      0             370372    7.7500    NaN        Q
15      0  STON/O 2. 3101274    7.1250    NaN        S
16      2             113503  211.5000    C82        C
17      1               2690    7.2292    NaN        C
18      0       S.O.C. 14879   73.5000    NaN        S
19      0              19943   90.0000    C93        S

In [6]:
print(tit.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB
None

In [7]:
print(tit.describe())

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
print(tit.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
tit.fillna(tit.mean(), inplace=True)
tit.fillna("Inconnu", inplace=True)

TypeError: unsupported operand type(s) for +: 'int' and 'str'